<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIELEKTHOR</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Cari Pembelian</h2>
                <br>
                <br>
                <form th:action="@{/cari/pembelian}" th:object="${listMember}" method="GET">

                    Member<br>
                    <td>
                        <select name="idMember">
                            <option value=""></option>
                            <option th:each="member: ${listMember}" th:value="${member.idMember}" th:text="${member.namaMember}" />
                            </option>
                        </select>
                    </td>
                    <br><br>

                    Pembayaran<br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tipePembayaran" id="exampleRadios1" value="1" />
                        <label class="form-check-label" for="exampleRadios1">
                            Tunai
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tipePembayaran" id="exampleRadios2" value="0" />
                        <label class="form-check-label" for="exampleRadios2">
                            Cicilan
                        </label>
                    </div>
                    <br><br>

                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-primary" th:href="@{/}">Kembali</a>
                </form>

                <br><br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>No Invoice</th>
                        <th>Total Harga</th>
                        <th>Member</th>
                        <th>Jumlah Barang</th>
                        <th>Tanggal Pembelian</th>
                        <th>Aksi</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="pembelian, iterationStatus : ${listPembelianFinal}"
                        th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${pembelian.noInvoice}"></td>
                        <td th:text="${pembelian.totalPembelian}"></td>
                        <td th:text="${pembelian.id_member.namaMember}"></td>
                        <td th:text="${pembelian.jumlah_barang()}"></td>
                        <td th:text="${pembelian.format_tanggal_pembelian()}"></td>
                        <td>
                            <a class="btn btn-primary" th:href=" @{/pembelian/} + ${pembelian.idPembelian}">Lihat</a>
                            <a class="btn btn-primary" th:href="@{/pembelian/hapus/} + ${pembelian.idPembelian}">Hapus</a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>