<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIELEKTHOR</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Form Tambah Pembelian</h2>
                <br>
                <br>
                <form th:action="@{/barang/tambah}" th:object="${barang}" method="POST">
                    Nama Barang  <br>
                    <input class="form-control" type="text" name="namaBarang" />
                    <br><br>

                    Kode Barang <br>
                    <input class="form-control" type="text" name="kodeBarang"/>
                    <br><br>

                    Merk Barang <br>
                    <input class="form-control" type="text" name="merkBarang"/>
                    <br><br>

                    Stok Barang <br>
                    <input required class="form-control" type="number" name="stok" />
                    <br><br>

                    Garansi Toko <br>
                    <input required class="form-control" type="number" name="jumlahGaransi" />
                    <br><br>

                    Deskripsi<br>
                    <input required class="form-control" type="text" name="deskripsiBarang" />
                    <br><br>

                    Tipe Barang<br>
                    <td>
                        <select name="id_tipe">
                            <option value="">Pilih Tipe Barang</option>
                            <option th:each="tipe: ${listTipe}" th:value="${tipe.idTipe}" th:text="${tipe.namaTipe}" />
                        </select>
                    </td>
                    <br><br>

                    Harga<br>
                    <input required class="form-control" type="number" name="hargaBarang" />
                    <br><br>

                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a class="btn btn-primary" href="@{/barang}">Batal</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>